---

layout: record
title: "#<%= current_time %> report"
published: false

---
<!-- 公開時は上記 published: false を true に変更する -->

<div style="text-align: left;"><a href="./"><strong>アナウンスページはこちら</strong></a></div>

# meetup #<%= current_time %> report

## 話題

<!-- 適宜サマライズを記入するか、twitter の #kzrb あたりからピックアップする -->

* XXX

<!-- 運営ブレストができた場合はログを作成してリンクを記載する
## 運営ブレストログ

* [meetup <%= current_time %> 運用ブレストログ](https://github.com/kanazawarb/meetup/wiki/meetup-<%= current_time %>-%E9%81%8B%E7%94%A8%E3%83%96%E3%83%AC%E3%82%B9%E3%83%88%E3%83%AD%E3%82%B0)

-->

## まとめ

<!-- Togetter, 30days のリンクをいれる -->

* [kanazawa.rb meetup <%= current_time %> - Togetter](XXX)
* [Kanazawa.rb meetup <%= current_time %> - 30days](XXX)


<!-- 分かっている範囲でリンクがあれば列挙する
## スライド

* XXX

-->

<!-- 分かっている範囲でリンクがあれば列挙する
## 参加者のブログ

* XXX

-->


## 収支

<!-- 適宜更新する(以下は meetup <%= current_time %> の内容を例示) -->

* 前回の meetup 開催後から今回 meetup 開催後までのお金の出入り

|項目                           |金額         |補足                                               |
|:------------------------------|------------:|:--------------------------------------------------|
| 前回繰越金                    |       XXX円 |                                                   |

**次回繰越**  XXX 円
